## Functions

In [1]:
def add(x,y):
    c=x+y
    return c

In [2]:
a1=add(30,40)

In [4]:
print(a1)

70

In [5]:
add(32,58)

90

## variadic functions

In [6]:
add(56,89)

145

In [7]:
#add(78,67,56,45)

In [8]:
def add1(*args):
    for i in args:
        print(i)

In [9]:
add1(78,67,56,45)

78
67
56
45

In [14]:
def add2(*args):
    s=0
    for i in args:
        #print(i)
        s=s+i
    return s

In [15]:
s1=add2(45,67,89,23,12,67,45)
s1

348

In [23]:
def multiply(x,*args):
    welcome=f"Welcome {x}"
    p= 1
    for i in args:
        p=i*p
    return f"{welcome}. Product of given data is {p}"
    #return f"elcome {x}. Product of given data is {p}".

In [24]:
m1= multiply("Raman",67,78,34,23,34)

In [25]:
m1

'Welcome Raman. Product of given data is 138948888'

In [26]:
employee1 = [101,"Raman"]
employee2 = [102,"Thaman"]
employee3 = [103,"Suman"]

In [27]:
def add_dept(*args):
    for i in args:
        i.append("IT")

In [28]:
add_dept(employee1,employee2,employee3)

In [29]:
employee1

[101, 'Raman', 'IT']

In [30]:
employee2

[102, 'Thaman', 'IT']

In [31]:
employee3

[103, 'Suman', 'IT']

## Keyword arguments

In [32]:
add(56,78)

134

In [33]:
add(y=67,x=23)

90

In [35]:
def func(**kwargs):
    print(type(kwargs))
    print(kwargs.items())

In [36]:
dct = {
    "emp":101,
    "dept":"HR"
}

In [38]:
type(dct)

dict

In [39]:
dct.items()

dict_items([('emp', 101), ('dept', 'HR')])

In [40]:
func(id=101,dept="hr")

<class 'dict'>
dict_items([('id', 101), ('dept', 'hr')])

In [41]:
def func2(**kwargs):
    print(kwargs.keys())
    print(kwargs.values())

In [43]:
func2(ids=[101,201,301],depts=("hr","sales","marketing"))

dict_keys(['ids', 'depts'])
dict_values([[101, 201, 301], ('hr', 'sales', 'marketing')])

## Write a function that returns the length of input items passed to it

In [44]:
employee1

[101, 'Raman', 'IT']

In [45]:
employee2

[102, 'Thaman', 'IT']

In [46]:
employee2.append(67000)

In [47]:
employee2

[102, 'Thaman', 'IT', 67000]

In [48]:
employee3.append(62000)

In [49]:
employee3.append(True)

In [50]:
employee3

[103, 'Suman', 'IT', 62000, True]

In [51]:
dct

{'emp': 101, 'dept': 'HR'}

In [52]:
for k,v in dct.items():
    print(f"key is : {k}"  )
    print(f"value is {v}")

key is : emp
value is 101
key is : dept
value is HR

In [55]:
def len_data(**kwargs):
    dct = {}
    for key,data in kwargs.items():
        dct[key]=len(data)
        #dct[emp1]= len(employee1)
        #dct[emp2]= len(employee2)
        #dct[emp3]= len(employee3)
    return dct
    #dct.items() : ((emp1,3),(emp2,4),(emp3,5))

In [56]:
len_data(emp1=employee1,emp2=employee2,emp3=employee3)

{'emp1': 3, 'emp2': 4, 'emp3': 5}

NameError: name 'b2_2' is not defined