## Class

In [2]:
import pandas as pd
path = r"c:\Users\satis\Downloads\50_Startups (3).csv"
df = pd.read_csv(path)
df.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [3]:
df.shape

(50, 5)

In [4]:
df.columns

Index(['RND', 'ADMIN', 'MKT', 'STATE', 'PROFIT'], dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

## Create a class of person with attributes as Name,Age.Gender,Occupation

In [12]:
class person:
    # define the instance/object attributes
    def __init__(self,name,age,gender,occupation):
        self.name = name
        self.age =age
        self.gender = gender
        self.occupation = occupation
    
    def introduce(self):
        print(f"Hi, my name is {self.name}. I am {self.age} years old. I work for {self.occupation} organization")
    
    def work(self):
        print(f"My work hours are 9am - 6pm")
    
    def hobbies(self):
        print(f"My hobbies are playing cricket, watching movies")

In [13]:
# Instance creation / object creation
p1 = person(name="Raman",age=35, gender="Male" , occupation= "accenture")

In [14]:
p1.age

35

In [15]:
p1.name

'Raman'

In [16]:
p1.introduce()

Hi, my name is Raman. I am 35 years old. I work for accenture organization

In [17]:
p1.hobbies()

My hobbies are playing cricket, watching movies

In [18]:
p1.work()

My work hours are 9am - 6pm

## Create a class bank account with attributes as account holder name, balance ,account number Define below methods : withdrawal deposit transfer

In [19]:
class bank_account:
    #define instance attributes
    def __init__(self,account_number,account_holder_name,balance):
        self.account_number = account_number
        self.account_holder_name = account_holder_name
        self.balance= balance
    
    # define deposit method
    def deposit(self,amount):
        self.balance = self.balance + amount
        return f"Amount got deposited to {self.account_number}. Your new balance is {self.balance}"
    
    # define withdrawal method
    def withdrawal(self,amt_withdraw):
        # check whether withdrawal amount is less than original balance
        if amt_withdraw < self.balance:
            self.balance = self.balance - amt_withdraw
            return f"Amount got deducted from {self.account_number}. Your new balance is {self.balance}"
        else:
            return f"{self.account_holder_name},Insufficient balance in {self.account_number}. Cannot proceed with withdrawal process"
    
    # define transfer method
    def transfer(self,account_no,transfer_amnt):
        self.balance = self.balance - transfer_amnt
        return f"{self.account_holder_name},Your account transfer is successful. Your new balance is {self.balance}"

In [20]:
c1 = bank_account(15490233,"THaman",89500)

In [21]:
c1.account_holder_name

'THaman'

In [22]:

c1.balance

89500

In [23]:

c1.account_number

15490233

In [24]:
c1.deposit()

TypeError: bank_account.deposit() missing 1 required positional argument: 'amount'

In [25]:
c1.deposit(56000)

'Amount got deposited to 15490233. Your new balance is 145500'

In [26]:

c1.withdrawal(900)

'Amount got deducted from 15490233. Your new balance is 144600'

In [27]:
c1.transfer(8957456,25000)

'THaman,Your account transfer is successful. Your new balance is 119600'

## Class Attributes

In [28]:
class bank:
    # class attributes
    bank_name = "HDFC"
    branch = "Pimple Saudagar"

    def welcome():
        pass

In [30]:
b1 = bank()
b2 = bank()

In [31]:
b1.bank_name

'HDFC'

In [32]:
b2.bank_name

'HDFC'

In [33]:
b2.branch

'Pimple Saudagar'

In [34]:
class bank1:
    # class attributes
    bank_name = "HDFC"
    branch = "Pimple Saudagar"

    @classmethod
    def welcome(cls):
        print(f"Welcome to {cls.bank_name}, Our branch is located at {cls.branch}")

In [35]:
b1_1 = bank1()
b1_2 = bank1()

In [36]:
b1_1.branch

'Pimple Saudagar'

In [37]:
b1_1.welcome()

Welcome to HDFC, Our branch is located at Pimple Saudagar

In [38]:
class bank2:
    # class attributes
    bank_name = "HDFC"
    branch = "Pimple Saudagar"

    def __init__(self,account_name,account_no,balance):
        self.account_name = account_name
        self.account_no = account_no
        self.balance = balance

    # TO use class attributes, mention classmethod and pass cls as method input parameter
    @classmethod
    def welcome(cls):
        print(f"Welcome to {cls.bank_name}, Our branch is located at {cls.branch}")
    
    # define deposit method
    def deposit(self,amount):
        self.balance = self.balance + amount
        return f"Amount got deposited to {self.account_number}. Your new balance is {self.balance}"
    
    # define withdrawal method
    def withdrawal(self,amt_withdraw):
        # check whether withdrawal amount is less than original balance
        if amt_withdraw < self.balance:
            self.balance = self.balance - amt_withdraw
            return f"Amount got deducted from {self.account_number}. Your new balance is {self.balance}"
        else:
            return f"{self.account_holder_name},Insufficient balance in {self.account_number}. Cannot proceed with withdrawal process"
    
    # define transfer method
    def transfer(self,account_no,transfer_amnt):
        self.balance = self.balance - transfer_amnt
        return f"{self.account_holder_name},Your account transfer is successful. Your new balance is {self.balance}"

In [39]:
b2_1 = bank2("Raman",345345345,125000)
b2_2 = bank2("Suman",456546456,90800)

In [40]:
b2_1.branch

'Pimple Saudagar'

In [41]:
b2_1.bank_name

'HDFC'

In [42]:

b2_2.bank_name

'HDFC'

In [43]:
b2_2.branch

'Pimple Saudagar'

In [44]:
b2_2.account_name

'Suman'

In [45]:
b2_1.account_name

'Raman'